.container {
  width: 1200px; 
  margin: 0px auto 0px auto;
}

.App {
  background-color: #FFFFFF;
}

.App_logo {
  pointer-events: none;
}

.App_logo_img {
  display: inline-block;
  vertical-align: middle;
}

.App_logo_text {
  display: inline-block;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  padding: 10px;
  line-height: 21px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
